header{text-align: center;
 	
	background-image: url("library.jpg");
	background-size: auto;
	line-height: 150px;}
	

body{ background-image: url("old2.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{	margin-top: 0;
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-weight: bolder;
	font-size: 100px;
/*	font-family: sans-serif; */
	color: rgba(255,255,255,0.7) !important; 

	text-decoration: underline;
}


div.all{font-size: 90px;
	margin-left:200px;
	margin-right:200px;
	
	text-align: center;} 
	

p#a1 { background: url("roses2.jpg");}
p#a2 { background: url("blue5.jpg") no-repeat; 
	background-size: cover;}
p#a3 {background: url("candies2.jpg");}	
p#a4 {background: url("mis2.jpg");}


p{ font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
	font-weight: bolder;

	padding: 75px 0px 75px 0px;}
a{ color: black;
	text-decoration: none;}
a:hover{ color: rgb(128,0,128);}	

nav{background: none;}


	
	










