header{text-align: center;
 	
	background-image: url("library.jpg");
	background-size: auto;
	line-height: 150px;
	margin-bottom: 0px;}
	

body{ background-image: url("old2.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

	}


#prim
{margin-top: 0;
	padding: 0;
}



#prim ul{ list-style: none;
	position: relative;;
	float: left;
	margin: 0 0px 0 0;
	padding: 10px 0 10px 0; 
	background: rgba(0,0,0,0.7); 
	width: 100%;
	}

#prim ul a{
	display: block;
	color:black;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	color: white;
	line-height: 32px;
	padding: 0 15px;
}	

#prim ul li{
	position: relative;
	float: left;
	margin: 0;
	padding: 0 15px 0 15px;
}



#prim ul ul{
	display: none;
	position: absolute;
	top:100%;
	left: 0;
	background: rgba(0,0,0,0.7);
	
}

#prim ul ul li{
	float: none;
	width: 300px;
	padding: 0 10px 0 5px;
}
#prim ul ul a{
	line-height: 120%;
	padding: 10px 15px;
}

#prim ul li:hover > ul
{display: block;}





h1{	margin-top: 0;
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-weight: bolder;
	font-size: 100px;
/*	font-family: sans-serif; */
	color: rgba(255,255,255,0.7) !important; 

	text-decoration: underline;
}


div.all{font-size: 90px;
	margin-left:200px;
	margin-right:200px;
	
	text-align: center;} 
	

p#a1 { background: url("roses2.jpg");}
p#a2 { background: url("blue5.jpg") no-repeat; 
	background-size: cover;}
p#a3 {background: url("candies2.jpg");}	
p#a4 {background: url("mis2.jpg");}


p{ font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
	font-weight: bolder;

	padding: 75px 0px 75px 0px;}
a{ color: black;
	text-decoration: none;}
a:hover{ color: rgb(128,0,128);}	

#space{margin-top: 70px;}


	
	










